body {
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif ;
    color: #2E2F42;
    background-color: #FFFFFF;
}

li {
    list-style-type: none;
}

header a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    color: #2E2F42;
    font-weight: 700;
    line-height: 21№;
    font-size: 18px;
    text-transform: uppercase;
}

.nav_list {
    font-weight: 500;
    line-height: 24№;
    font-size: 16px;
}

.nav_list a {
    color: #2E2F42;
}

address a {
    color: #434455;
    font-weight: 400;
    line-height: 24%;
    font-size: 16px;
    font-style: normal;
}

address a:hover {
    color: #d34343;
} 

address a:focus {
    color: #b33a3a;
}


.effective_section {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.effective_title {
    color: #ffffff;
    font-weight: 700;
    line-height: 60№;
    font-size: 56px;
}

.order_btn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 24№;
    font-size: 16px;
    cursor: pointer;
}

.cart_item {
    color: #2E2F42;
    font-weight: 500;
    line-height: 24№;
    font-size: 20px;
}

.cart_text {
    color: #2E2F42;
    line-height: 24№;
    font-size: 16px;
}

.team_items {
    color: #2E2F42;
    font-weight: 700;
    line-height: 40№;
    font-size: 36px;
}

.team_item {
    color: #2E2F42;
    font-weight: 500;
    line-height: 24№;
    font-size: 20px;
}

.team_text {
    color: #434455;
    line-height: 24№;
    font-size: 16px;
}

.portfolio_item {
    color: #2E2F42;
    font-weight: 700;
    line-height: 40№;
    font-size: 36px;
}

.portfolio_item_foto {
    color: #2E2F42;
    font-weight: 500;
    line-height: 24№;
    font-size: 20px;
}

.portfolio_text {
    color: #434455;
    line-height: 24№;
    font-size: 16px;
}

footer {
    background-color: #2E2F42;
}

.footer_logo {
    font-family: 'Raleway';
    color: #F4F4FD;
    text-decoration: none;
    font-weight: 700;
    line-height: 21№;
    font-size: 18px;
    text-transform: uppercase;
}

span {
    color: #4D5AE5;
}

.footer_text {
    font-size: 16px;
    line-height: 24№;
    font-weight: 400;
    color: #F4F4FD;
}